*{
  margin:0;
  padding:0;
  border:0px;
}
.aqui
{
     font-family: 'Franklin Gothic Medium', sans-serif;
     font-size: 40px;
     color: yellow;
     background-color: rgb(214, 204, 199);
}    
.aqui:hover { 
  background-color: #fdfbfd; 
  color: rgb(128, 240, 23);
  transition: 0.5s;
  opacity: 0.7;
 }

  .home {
    font-family: 'Franklin Gothic Medium', sans-serif;
    font-size: 40px;
  }
  .tarja {
    flex-grow: 1;
    display: flex;
    flex-direction: row;
    justify-content:center;
    justify-content: space-around;
    background-color:yellow; 
  }
 
  

 .luana {
  background-color: yellow;
  font-weight: bold;
}

 .imgContainer {
  flex-wrap: wrap;
  height: 280px;
  width: 300px;
  margin-left: 20px;
}
 @media only screen and(min-width:700px) {
 
}